.service {
  @apply grid;
  @apply grid-cols-[1fr_auto] grid-rows-[auto_auto];
  @apply lg:grid-cols-1 lg:grid-rows-[auto_auto_auto] lg:gap-y-[30px];
  @apply xl:grid-cols-[1fr_auto] xl:grid-rows-[auto_auto] xl:gap-y-0;

  & > h3 {
    @apply max-sm:col-span-2 max-sm:mb-[20px];
    @apply sm:col-span-1 sm:mb-0;
  }

  & > figure {
    @apply self-center;
    @apply max-sm:order-3;
    @apply sm:row-span-2;
  }
}
